@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');



body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color:#e0002c;
  color: #03000b;
  font-family: 'Roboto Mono', monospace;

}

h1{
   text-shadow: 0 4px 8px rgba(255,255,255,0.5);
}